*{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: aliceblue;
    outline: none;
    padding: 0;
    margin: 0;
}

body{
    background-image: linear-gradient(120deg, #2441FF, #FFAE2A);
}

#formulario{
    border-radius: 15px;
    display: block;
    height: 463.5px;
    width: 300px;
    background-color: aliceblue;
    margin: 80px 0px 80px 40%;
}

div h1{
    color: grey;
    padding: 40px 0px 30px 55px;
    font-size: 25px;
    font-style: oblique;
}

#text{
    border: none;
    background-color: aliceblue;
    box-shadow:  0px 3px  grey;
    margin-left: 32.5px;
    margin-bottom: 40px;
    width: 230px;
    color: rgb(97, 97, 97);
}

#email{
    border: none;
    background-color: aliceblue;
    box-shadow: 0px 3px grey;
    margin-left: 100px;
    margin-left: 32.5px;
    margin-bottom: 40px;
    width: 230px;
    color: rgb(97, 97, 97);
}

#message{
    border: none;
    background-color: aliceblue;
    box-shadow: 0px 3px grey;
    margin-left: 32.5px;
    margin-bottom: 40px;
    width: 230px;
    height: 80px;
    resize: none;
    color: rgb(97, 97, 97);
}

#botao{
    margin-left: 32.5px;
    margin-bottom: 40px;
    width: 235px;
    height: 45px;
    background-image: linear-gradient(120deg, #2441FF, #FFAE2A);
    border: none;
    color: aliceblue;
    font-style: oblique;
}

#botao:hover{
    background-image: linear-gradient(120deg, #6276fd, #f9c673);
    border: none;
}

#botao:active{
    animation: pulsar 0.1s ease-in-out;
    background-image: linear-gradient #2235b1, #cf912e;
}

@keyframes pulsar {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.05);
    opacity: 0.7;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

ul{
    font-size: 12px;
    list-style: none;
    width: 300px;
    height: 100px;
    display: block;
    float: left;
    left: 0;
    bottom: 0;
    color: aliceblue;
}

img{
    float: left;
    margin-right: 10px;
}

li{
   padding: 5px; 
   margin-bottom: 10px;
}

nav {
    background-color: #2441ff;
    width: 100%;
    height: 100px;
    display:flex;
    align-content: center;
    overflow:hidden;
}
#iconecomesch{
    height:70px;
    width:450px;
    margin: 10px 0 0 5px;
}
.botaonav{
    height:70px;
    width:70px;
    background-color: #2441ff;
    background-repeat: no-repeat;
    background-size: 55px 55px;
    border:none;
}
#botaoinicio{
    background-image: url(CnttImg/inicioicone.png);
    margin: 18px 0px 0px 300px;
}
#botaomapa{
    background-image: url(CnttImg/mapaicone.png);
    margin-left:50px;
}
#botaocontatos{
    background-image: url(CnttImg/contatosicone.png);
    margin-left:50px;
}
#botaocadastro{
    background-color:#ffae2a;
    background-repeat: no-repeat;
    border: none;
    color:white;
    font-size:20px;
    width:160px;
    height:60px;
    border-radius: 8px;
    float: right;
    margin: 18px 0px 0px 60px;
}
#botaoinicio:hover{
    background-image: url(CnttImg/inicioiconehover.png);
}
#botaomapa:hover{
    background-image: url(CnttImg/mapaiconehover.png);
}
#botaocontatos:hover{
    background-image: url(CnttImg/contatosiconehover.png);
}
#botaocadastro:hover{
    background-color:#b87b1a;
}

footer{
    color: white;
    background: #fdb519 100%;
    height: 250px;
    width: 100%;
}
#contasgithub1{
   margin-left:33%;
   margin-top:15px;
   float:left;
   width:40%;
}

#contasgithub2{
    width:30%;
    margin-left:40%;
    font-size:15px;
    list-style-type: circle;
}

h2{
    margin-top:22px;
    font-size:20px;
}