*{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-image: linear-gradient(120deg, #2441FF, #FFAE2A);
    width: 99%;
}

div{
    border-radius: 15px;
    display: block;
    height: 463.5px;
    width: 300px;
    background-color: aliceblue;
    margin: 125px 0px 25px 520px
}

div h1{
    color: grey;
    padding: 40px 0px 30px 55px;
    font-size: 25px;
}

#text{
    border: none;
    background-color: aliceblue;
    box-shadow:  0px 3px  grey;
    margin-left: 32.5px;
    margin-bottom: 40px;
    width: 230px;
}

#email{
    border: none;
    background-color: aliceblue;
    box-shadow: 0px 3px grey;
    margin-left: 100px;
    margin-left: 32.5px;
    margin-bottom: 40px;
    width: 230px;
}

#message{
    border: none;
    background-color: aliceblue;
    box-shadow: 0px 3px grey;
    margin-left: 32.5px;
    margin-bottom: 40px;
    width: 230px;
    height: 80px;
    resize: none;
}

button{
    margin-left: 32.5px;
    margin-bottom: 40px;
    width: 235px;
    height: 45px;
    background-image: linear-gradient(120deg, #2441FF, #FFAE2A);
    border: none;
    color: aliceblue;
}

button:hover{
    background-image: linear-gradient(120deg, #6276fd, #f9c673);
    border: none;
    color: aliceblue;
}

ul{
    list-style: none;
    color: aliceblue;
}