*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-style: normal;
}

footer{
    color: white;
    background: #fdb519 100%;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer ul div li{
    float: left;
    margin-left: 25px;
    list-style: none;
    margin-top: 31px;
    font-weight: lighter;
    font-size: 18px;
}


footer ul div{
    justify-content: center;
    align-items: center;
    display: flex;
    height: 120px;
}

footer ul div img{
    width: auto;
    height:38px;
    float: left;
    margin-right: -15px;
    margin-left: 15px;
}

#contatos{
    list-style: disc;
}

#li {
    margin-left: 20px;
}

#lw {
    margin-left: 20px;
}

footer div a button{
    width: 308px;
    height:87px;
    background-color: #475fff;
    border-radius: 14px;
    margin-top: 65px;
    border: 2px;
    color: white;
}

footer div{
    justify-content: center;
    align-items: center;
    display: flex;
}