* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

main div {
    width: 100%;
    height: 300px;
    background-color: #FF9E00;
}

main h1 {
    margin-left: 100px;
    margin-top: 50px;
    font-size: 50px;
    font-weight: lighter;
    color: #515151;
}

main p {
    width: 80%;
    margin-left: 100px;
    margin-top: 50px;
    font-weight: lighter;
    color: #515151;
    margin-bottom: 60px;
}

