* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}
nav {
    background-color: #2441ff;
    width: 100%;
    height: 100px;
    display:flex;
    align-content: center;
}
#iconecomesch{
    height:80px;
    width:500px;
    margin: 10px 0 0 10px;
}
#botaoinicio{
    
}