*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-style: normal;
}

#cabeca {
    width: 100%;
    height: 400px;
    background-image: url("img/horizontal-Quais-as-melhores-atividades-de-recepcao-aos-alunos-1024x536.jpg");
}

a {
    text-decoration: none;
}

footer{
    color: white;
    background: #fdb519 100%;
    height: 250px;
    width: 100%;
}

#contasgithub1{
   margin-left:33%;
   margin-top:15px;
   width:40%;
}

#iconegit {
    float: left;
    margin: auto;
    padding-top: 25px;
    padding-right: 20px;
}

#textogithub {
    margin: auto;
    padding-top: 50px;
}

#contasgithub2{
    width:30%;
    margin-left:40%;
    font-size:15px;
    list-style-type: circle;
}

footer #contasgithub2 li {
    height: 15px;
    margin-top: 25px;
}

footer ul li a {
    color: #ffffff;
}

h2{
    margin-top:6px;
    font-size:20px;
}

#contatos{
    list-style: disc;
}

div a button{
    width: 308px;
    height:87px;
    background-color: #475fff;
    border-radius: 14px;
    border: 2px;
    color: white;
}

#acesso {
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: white;
    padding-bottom: 7%;
}

#buttonacesso {
    cursor: pointer;
}

nav {
    background-color: #0043fe;
    width: 100%;
    height: 100px;
    display:flex;
    align-content: center;
    overflow:hidden;
}

#iconecomesch{
    height:70px;
    width:450px;
    margin: 10px 0 0 5px;
}

.botaonav{
    height:70px;
    width:70px;
    background-color: #0043fe;
    background-repeat: no-repeat;
    background-size: 55px 55px;
    border:none;
}

#botaoinicio{
    background-image: url(CnttImg/inicioicone.png);
    margin: 18px 0px 0px 300px;
}

#botaomapa{
    background-image: url(CnttImg/mapaicone.png);
    margin-left:50px;
}

#botaocontatos{
    background-image: url(CnttImg/contatosicone.png);
    margin-left:50px;
}

#botaocadastro{
    background-color:#ffae2a;
    border: none;
    color:white;
    font-size:20px;
    width:160px;
    height:60px;
    border-radius: 8px;
    float: right;
    margin: 18px 0px 0px 60px;
}

#botaoinicio:hover{
    background-image: url(CnttImg/inicioiconehover.png);

}
#botaomapa:hover{
    background-image: url(CnttImg/mapaiconehover.png);
}

#botaocontatos:hover{
    background-image: url(CnttImg/contatosiconehover.png);
}

#botaocadastro:hover{
    background-color:#b87b1a;
}

main h1 {
    margin-left: 22.5%;
    margin-top: 5%;
    margin-bottom: 3%;
    font-size: 50px;
    font-weight: lighter;
    color: #515151;
}

main p {
    font-size: large;
    width: 55%;
    margin-left: 22.5%;
    margin-right: 22.5%;
    font-weight: lighter;
    color: #515151;
    margin-bottom: 3%;
}

#p {
    margin-bottom: 7%;
}