* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

nav a {
    color: #f2f2f2;
    text-decoration: none;
    width: 25px;
    height: 100px;
    font-size: larger;
    margin-left: 25px;
}

nav {
    background-color: blue;
    width: 100%;
    height: 100px;
    align-content: center;
}

a:hover {
    background-color: blueviolet;

}