* {
    padding: 0px;
    margin: 0px;
}

main aside {
    width: 24%;
    height: 100vh;
    background-color:  #FFAE2A;
    float: right;
    font-family: sans-serif;
}

main aside img {
    height: 75px;
    border-radius: 100px;
    margin: 25px;
    margin-right: 20px;
    float: inline-start;
}

#lapis {
    height: 26px;
    float: top, right;
    position: absolute;
    margin-left: 180px;
    margin-top: 30px;
    forced-color-adjust: #ffffff;
}

h1 {
    font-size: 29px;
    margin-top: 35px;
    margin-bottom: 11px;
    color: #ffffff;
}

p {
    font-size: 13px;
    color: #ffffff;
}

hr {
    margin-top: 40px;
    border: 1px solid #ffffff;
}

#searchbar {
    width: 83%;
    height: 30px;
    border-radius: 10px;
    border: none;
    margin: auto;
    padding-left: 10px;
    margin-left: 33px;
    margin-top: 25px;
}

main aside #fav {
    width: 83%;
    height: 25px;
    margin-left: 35px;
    margin-top: 30px;
    border-radius: 5px;
}

main aside div {
    width: 33%;
    height: 40px;
    float:left;
    background-color: #ffffff;
    margin-top: 25px;
    margin-left: 38px;
    align-content: center;
    display: block;
    border-radius: 10px;
}


main aside #particular{
    margin-left: 48px;
}

main aside label {
    margin-left: 5px;
    color: #515151;
}

main aside #marcacao {
    margin-left: 8px;
}

main aside #nivelensino {
    width: 83%;
    margin: auto;
    padding-left: 70px;
    margin-top: 50px;
    margin-left: 33px;
    height: 40px;
     
}

