* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

main h1 {
    margin-left: 22.5%;
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 50px;
    font-weight: lighter;
    color: #515151;
}

main p {
    font-size: large;
    width: 55%;
    margin-left: 22.5%;
    margin-right: 22.5%;
    font-weight: lighter;
    color: #515151;
    margin-bottom: 5%;
}

