*{
    margin: 0;
    padding: 0;
}

footer{
    color: white;
    background: #fdb519 100%;
}

footer ul div li{
    float: left;
    margin-left: 25px;
    list-style: none;
    margin-top: 31px;
    font-weight: lighter;
    font-size: 18px;
}


footer ul div{
    justify-content: center;
    align-items: center;
    display: flex;
    height: 160px;
}

footer ul div img{
    width: auto;
    height:38px;
    float: left;
}

#contatos{
    list-style: disc;
}

footer div a button{
    width: 308px;
    height:87px;
    background-color: #475fff;
    border-radius: 14px;
    margin-top: 90px;
    border: 2px;
    color: white;
}

footer div{
    justify-content: center;
    align-items: center;
    display: flex;
}

footer h2{
    font-family: sans-serif;
    font-size: 28px;
}