* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}
nav {
    background-color: #2441ff;
    width: 100%;
    height: 100px;
    display:flex;
    align-content: center;
    overflow:hidden;
}
#iconecomesch{
    height:70px;
    width:450px;
    margin: 10px 0 0 5px;
}
.botaonav{
    height:70px;
    width:70px;
    background-color: #2441ff;
    background-repeat: no-repeat;
    background-size: 55px 55px;
    border:none;
}
#botaoinicio{
    background-image: url(./inicioicone.png);
    margin: 18px 0px 0px 300px;
}
#botaomapa{
    background-image: url(./mapaicone.png);
    margin-left:50px;
}
#botaocontatos{
    background-image: url(./contatosicone.png);
    margin-left:50px;
}
#botaocadastro{
    background-color:#ffae2a;
    border: none;
    color:white;
    font-size:20px;
    width:160px;
    height:60px;
    border-radius: 8px;
    float: right;
    margin: 18px 0px 0px 60px;
}
#botaoinicio:hover{
    background-image: url(./inicioiconehover.png);
}
#botaomapa:hover{
    background-image: url(./mapaiconehover.png);
}
#botaocontatos:hover{
    background-image: url(./contatosiconehover.png);
}
#botaocadastro:hover{
    background-color:#b87b1a;
}